(
    selected_tab: None,
    command_fg: Some("Black"),
    selection_bg: Some("Magenta"),
    selection_fg: Some("Black"),
    cmdbar_bg: Some("Green"),
    cmdbar_extra_lines_bg: Some("Green"),
    disabled_fg: None,
    diff_line_add: None,
    diff_line_delete: None,
    diff_file_added: None,
    diff_file_removed: None,
    diff_file_moved: None,
    diff_file_modified: None,
    commit_hash: None,
    commit_time: None,
    commit_author: None,
    danger_fg: None,
    push_gauge_bg: Some("Yellow"),
    push_gauge_fg: Some("Black"),
    tag_fg: None,
    branch_fg: None,
)
